:root{

   --active_color: #03a9f4;
   --link_color: #7d7d7d;
   --second_color:#b4ad9e;
   --main_color: #626262;
   --font-family: "Playfair Display", sans-serif;
   --second-family: "Ubuntu", sans-serif;
}
