:root {
    --active-link-color: #03a9f4;
    --link-color: #7d7d7d;
    --main-color: #626262;
    --second-color: #b4ad9e;

    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--main-color);
    font-size: 14px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 906px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

.margin-bottom {
    margin-bottom: 66px;
}

.margin-top {
    margin-top: 71px;
}

.navigation-list {
    margin-bottom: 92px;
}

.navigation-item:not(:last-child) {
    margin-right: 100px;
}

.navigation-link {
    font-family: var(--font-family);
    /* font-weight: 400; */
    color: var(--link-color);
}

.navigation-link:hover {
    color: var(--active-link-color);
}

.galery-list {
    column-gap: 65px;
    row-gap: 130px;
    margin-bottom: 90px;
    outline: 1px solid red;
}

.galery-item {
    width: 420px;
    height: 546px;
    outline: 1px dotted blue;
    /* margin-bottom: 130px; */
}

/* .galery-item:not(:nth-child(even)) {
    margin-right: 65px;
} */

/* .galery-item:nth-last-child(-n+2) {
    margin-bottom: 90px;
} */

.galery-img {
    margin-bottom: 65px;
}

.galery-link {
    display: block;
    margin-bottom: 32px;
    font-family: var(--second-family);
    font-weight: 300;
    color: var(--second-color);
}

.galery-link:hover {
    color: var(--active-link-color);
}

.galery-title {
    margin-bottom: 40px;
    font-size: 30px;
}

.galery-button {
    display: block;
    width: 165px;
    height: 60px;
    margin: 0 auto;
    font-family: var(--font-family); 
    font-size: 14px;
    color: var(--main-color); 
}